<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nbplus.push">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission android:name="com.sg.droid.pushservice.permission.RECEIVE" android:label="sg_push_permission_receive"
                android:protectionLevel="dangerous" />
    <permission android:name="com.sg.droid.pushservice.permission.SEND" android:label="sg_push_permission_send"
                android:protectionLevel="dangerous" />
    <uses-permission android:name="com.sg.droid.pushservice.permission.SEND"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        >
        <receiver
            android:name="com.nbplus.push.OnBootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.nbplus.push.RemoteService"
            android:permission="com.sg.droid.pushservice.permission.RECEIVE"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sg.droid.pushservice.intent.ACTION_BIND" />
            </intent-filter>
        </service>

    </application>

</manifest>
