<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nbplus.vbroadlauncher" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:clearTaskOnLaunch="true"
        android:launchMode="singleTask"
        android:stateNotNeeded="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".HomeLauncherApplication"
        android:theme="@style/NBPlusTheme.NoActionBar" >
        <activity
            android:name=".HomeLauncherActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- The following two intent-filters are the key to set homescreen -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity-alias
            android:name=".HomeScreenDirect"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:targetActivity="com.nbplus.vbroadlauncher.HomeLauncherActivity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        -->


        <!--
        Service to asynchronously fetch a location address using a Geocoder. Setting the
        android:exported attribute to "false" stops other apps from starting this
        service, even when using an explicit intent.
        -->
        <service
            android:name=".location.FetchAddressIntentService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ShowApplicationActivity"
            android:label="@string/title_activity_show_application"
             >
        </activity>
        <!--
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:theme="@style/NBPlusTheme.WallPager.NoActionBar.TranslucentDecor" >
        </activity>
        -->
        <activity
            android:name=".BroadcastWebViewActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:noHistory="false"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_broadcast_webview"
            >
        </activity>
        <activity
            android:name=".RadioActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:noHistory="false"
            android:screenOrientation="landscape"
            android:theme="@style/NBPlusTheme.NoActionBar.Translucent"
            android:label="@string/title_activity_broadcast_webview"
            >
        </activity>

        <!-- Don't forgot InitActivity -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <service android:exported="false" android:name="com.nbplus.media.MusicService">
            <intent-filter>
                <action android:name="com.nbplus.android.musicplayer.action.TOGGLE_PLAYBACK" />
                <action android:name="com.nbplus.android.musicplayer.action.PLAY" />
                <action android:name="com.nbplus.android.musicplayer.action.PAUSE" />
                <action android:name="com.nbplus.android.musicplayer.action.SKIP" />
                <action android:name="com.nbplus.android.musicplayer.action.REWIND" />
                <action android:name="com.nbplus.android.musicplayer.action.STOP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.nbplus.android.musicplayer.action.URL" />
                <data android:scheme="http" />
            </intent-filter>
        </service>

        <receiver android:name="com.nbplus.media.MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
