<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nbplus.media">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
        >
        <!-- Don't forgot InitActivity -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <service android:exported="false" android:name=".MusicService">
            <intent-filter>
                <action android:name="com.nbplus.android.musicplayer.action.TOGGLE_PLAYBACK" />
                <action android:name="com.nbplus.android.musicplayer.action.PLAY" />
                <action android:name="com.nbplus.android.musicplayer.action.PAUSE" />
                <action android:name="com.nbplus.android.musicplayer.action.SKIP" />
                <action android:name="com.nbplus.android.musicplayer.action.REWIND" />
                <action android:name="com.nbplus.android.musicplayer.action.STOP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.nbplus.android.musicplayer.action.URL" />
                <data android:scheme="http" />
            </intent-filter>
        </service>

        <receiver android:name=".MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
